body {

background-image: url("./images/bg2.jpg");
			<!--background-repeat:　no-repeat;-->
			background-position: cover;
z-index: -1;

}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30vh;
	border-radius: 5px;

}

#quote {
	width: 35vw;

	text-align: center;
	border-radius: 5px;
	min-height: 100px;
	
}

#quoteby {

	margin-top: 5px;
	margin-bottom: 40px;
}

