@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Aladin|Niconne');

body {
	background-image: url("./images/concrete-texture.png");
	background-position: cover;
	z-index: -1;
}

h1, h4, h5 {
	text-align: center;
}

.buttonarea {
	text-align: center;
}

hr {
	width: 50vw;
}

a {
	text-decoration: none;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
	border-radius: 5px;
}

.quoteblock {
	margin-top: 5vh;
	margin-bottom: 5vh;
	border-radius: 15px;
	background-image: url("./images/cheap_diagonal_fabric.png");
	padding: 0 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: 'Aladin', cursive;
	font-size: 2em;
	text-align: center;
}

#quote {
	width: 50vw;
	/*text-align: center;*/
	border-radius: 5px;
	min-height: 100px;
	padding-top: 30px;
	margin-bottom: 0;
}

#quoteby {
	text-align: right;
	margin-bottom: 40px;
}

.footer {
	margin-top: 3vh;
	text-align: center;
}

#github {
	font-size: 24px;
}